<h1>Users</h1>
<p>List of all users</p>
<table class="listing" summary="Subject list">
  <tr class="header">
    <th>#</th>
    <th>Subject</th>
    <th>Visible</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td class="center"><%= user.email %></td>
    <td class="actions">
      <%= link_to("Show", user_path(user), :class => 'action show') %>
      <%= link_to("Edit", edit_user_path(user), :class => 'action edit') %>
      <%= link_to("Delete", delete_user_path(user), :class => 'action delete') %>
    </td>
  </tr>
  <% end %>

<%= link_to('add a new user', new_user_path)%>
